table{
    width:1000px;
    background-color: gray;
    border:1px solid silver;
    padding:15px 15px 15px 15px ;
    height:100%;

}
td{
    border: 1px solid silver ;
    padding:15px ;
    text-align: center;
    
}
img{
    width:150px;
    height:100px;
}